<h>Antennas</h3>

<div class="topic">
  <p>Calculate free space loss </p>
  Radiated power: Pt<%= text_field_tag "Pt" %>
</div>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>


