<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Site</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes"> <!-- Display full-screen in standalone mode -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <link rel="apple-touch-icon" href="apple-touch-icon.png"/>
  <link rel="icon" href="favicon.ico"/>
  <!-- <link rel="author" href="humans.txt" /> -->

  <link rel="stylesheet" media="all" href="css/reset.css" />
  <link rel="stylesheet" media="all" href="css/main.css" />
  <link rel="stylesheet" media="all" href="css/utilities.css" />
  <link rel="stylesheet" media="screen" href="css/media.css" />
  <link rel="stylesheet" media="print" href="css/print.css" />
</head>
<body>
  <!-- Prompt IE 6/7/8 users to install Chrome Frame.
    Earlier IE doesn't have good enough Canvas support.
    Flash libraries that claim to add Canvas support back don't support some of
    the tricks we use like context.transform(). -->
  <!--[if lt IE 9 ]>
    <p class="chromeframe">
      You are using an <strong>outdated</strong> browser.
      <a href="http://browsehappy.com/">Upgrade to a different browser</a> or
      <a href="http://www.google.com/chromeframe/?redirect=true">install Google
        Chrome Frame</a> to experience this site.
    </p>
  <![endif]-->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <title>WirelessTechnologies</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="js/libraries/stats.min.js"></script>
  <script src=")))js/combined.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="js/app/main.js" charset="utf-8"></script>
  <div id="main">
    <div id="content">
      <noscript>You must have JavaScript enabled to use this site.</noscript>

      <div id="top-bar">
      </div>
        <h2>Algorithms to help with wireless technologies </h2>
        <ul>
          <li><%=link_to "Antennas" , antennas_pages_path %></li>  
        </ul>
 
      <div id="codez">
        <%=yield %>
      </div>  

    </div> <!-- /content -->
  </div> <!-- /main -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <!-- Google Analytics: change UA-XXXXXXXX-X to be your site's ID. -->
  <script>
  </script>
</body>
</html>
